# Python Introduction: Types

# Let's evaluate some simple expressions.

In [14]:
3*2

6

In [15]:
5+3*2

11

You can use `type()` to find the *type* of an expression.

In [16]:
type(5+3*2)

int

Now add decimal points.

In [17]:
5+3.5*2

12.0

In [18]:
type(5+3.0*2)

float

Strings are written with single (``'``) or double quotes (`"`)

In [19]:
"hello"

'hello'

Multiplication and addition work on strings, too.

In [20]:
3 * 'hello' + "eagpggpu"

'hellohellohelloeagpggpu'

Lists are written in brackets (`[]`) with commas (`,`).

In [21]:
[5, 3, 7]

[5, 3, 7]

List entries don't have to have the same type.

In [22]:
["hi there", 15, [1,2,3]]

['hi there', 15, [1, 2, 3]]

"Multiplication" and "addition" work on lists, too.

In [23]:
[1,2,3] * 4 + [5, 5, 5]

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 5, 5, 5]

Hmmmmmm. Was that what you expected?

In [24]:
import numpy as np

np.array([1,2,3]) * 4 + np.array([5,5,5])

array([ 9, 13, 17])